Variables can store data of different types, and different types can do different things.
Python has the following data types built-in by default, in these categories:

**Text Type:** str <br />
**Numeric Types:** int, float, complex <br />
**Sequence Types:** list, tuple, range <br />
**Mapping Type:** dict <br />
**Set Types:** set, frozenset <br />
**Boolean Type:** bool <br />
**Binary Types:** bytes, bytearray, memoryview <br />
**None Type:** NoneType

You can get the data type of any object by using the **type( )** function.

In [ ]:
x = 5
type(x)

int

In [ ]:

# Comments can be used to explain Python code. Comments can be used to make the code more readable.
# Comments can be used to prevent execution when testing code.
# Comments starts with a #, and Python will ignore them.

#print("Hello, World!")

print("Hello, World!")

Hello, World!

To add a multiline comment you could insert a # for each line.
Or, not quite as intended, you can use a multiline string. Since Python will ignore string literals that are not
assigned to a variable, you can add a multiline string (triple quotes: """) in your code, and place your
comment inside it:

In [ ]:
"""
This is a comment
written in more
than just one line
"""
print("Hello, World!")

Hello, World!

Python has no command for declaring a variable. A variable is created the moment you first assign a value to it. <br />
Variables do not need to be declared with any particular type, and can even change type after they have been set. <br />
Variable names are case-sensitive. Variable A and variable a are different in Python.

In [ ]:
# Assignment Operators

x = 7
x += 3 # same as x = x + 3
x -= 3 # same as x = x - 3
x *= 3 # same as x = x * 3
x /= 3 # same as x = x / 3 (Dividing just like on math)
x %= 3 # same as x = x % 3 (Operator gives the reminder after the dividing operation)
x //= 3 # same as x = x // 3 (Operator gives quotient of x divided by 3)
x **= 3 # same as x = x ** 3 (Means x to the power 3)
x &= 3 # same as x = x & 3 (& bitwise AND assignment operator. For example, if x was 6 (which is 110 in binary) before this operation, then after x &= 3, x would be 2 (since 110 AND 011 equals 010 in binary, which is 2 in decimal))
x |= 3 # same as x = x | 3 (| bitwise OR assigment operator. For example, if x was 6 (which is 110 in binary) before this operation, then after x |= 3, x would be 2 (since 110 OR 011 equals 111 in binary, which is 7 in decimal))
x ^= 3 # same as x = x ^ 3 (^  bitwise XOR (exclusive OR) assignment operator. For example, if x was 6 (which is 110 in binary) before this operation, then after x ^= 3, x would be 2 (since 110 XOR 011 equals 101 in binary, which is 5 in decimal))
x >>= 3 # same as x = x >> 3 (>>  right shift assignment operator. For example, A right shift operation x >> n effectively divides x by 2^n, discarding any remainder. It's important to note that if x is a positive integer, the bits shifted in from the left are 0s. Let's calculate x >>= 3 when x = 12 to see the result. This is because the right shift operation effectively divides x by 2323 (or 8), and since 12 / 8 equals 1.5, when considering integer division, the result is 1. The bits of 12 (binary 1100) shifted right by 3 positions result in 1 (binary 0001))
x <<= 3 # same as x = x << 3 (<< left shift assigment operator. For example, A left shift operation x << n effectively multiplies x by 2^n. Let's calculate x <<= 3 when x = 12 to see the result. This is because the left shift operation effectively multiplies x by 2323 (or 8), and since 12 * 8 equals 96, the bits of 12 (binary 1100) shifted left by 3 positions result in 96 (binary 1100000))

In [ ]:
# Comparison Operators

x == y # Equal
x != y # Not equal
x > y # Greater than
x < y # Less than
x >= y # Greater than or equal to
x <= y # Less than or equal to

In [ ]:
# Logical Operators

x = 6

x < 5 and x < 10 # Returns True if both statements are true
x < 5 or x < 4 # Returns True if one of the statements is true
not(x < 5 and x < 10) # Reverse the result, returns False if the result is true. It is true for the opposite

True

In [ ]:
# Identity Operators

# Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

y = 6
x = 5
x = y

x is y # Returns True if both variables are the same object
x is not y # Returns True if both variables are not the same object

True

In [ ]:
# Membership Operators

y = [3,2,4,1] # (y is a list. We will cover that later on the course inşAllah)
x = 4

x in y # Returns True if a sequence with the specified value is present in the object
x not in y # Returns True if a sequence with the specified value is not present in the object

True

In [ ]:
# Bitwise Operators

x & y # Sets each bit to 1 if both bits are 1
x | y # Sets each bit to 1 if one of two bits is 1
x ^ y # Sets each bit to 1 if only one of two bits is 1
~ x # Inverts all the bits
x << 2 # Shift left by pushing zeros in from the right and let the leftmost bits fall off
x >> 2 # Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off

In [ ]:
# List: Lists are used to store multiple items in a single variable

mylist = ["apple", "banana", "cherry"]

# List items are ordered, changeable, and allow duplicate values. List items are indexed, the first item has index [0], the second item has index [1] etc.

mylist = ["apple", "banana", "cherry", "apple", "cherry"]

print(mylist[1])

banana

In [ ]:
mylist = ["apple", "banana", "cherry"]

print(mylist[-1]) # Negative indexing means start from the end -1 refers to the last item, -2 refers to the second last item etc.
print(mylist[-2])

cherry
banana

In [ ]:
mylist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

print(mylist[2:5]) # You can specify a range of indexes by specifying where to start and where to end the range. When specifying a range, the return value will be a new list with the specified items. Attention!! The last index in NOT include

['cherry', 'orange', 'kiwi']

In [ ]:
mylist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

print(mylist[:2]) # By leaving out the start value, the range will start at the first item

['apple', 'banana']

In [ ]:
mylist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

print(mylist[4:]) # By leaving out the end value, the range will go on to the end of the list

['kiwi', 'melon', 'mango']

In [ ]:
mylist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

print(mylist[-3:-1]) # Specify negative indexes if you want to start the search from the end of the list

['kiwi', 'melon']

In [ ]:
mylist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

mylist[1] = "grape"
mylist

['apple', 'grape', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
# To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values

mylist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

mylist[1:3] = ["grape", "pear"]
mylist

['apple', 'grape', 'pear', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
# To add an item to the end of the list, use the append() method

mylist = ["apple", "banana", "cherry"]

mylist.append("orange")
mylist

['apple', 'banana', 'cherry', 'orange']

In [ ]:
# To insert a list item at a specified index, use the insert() method. The insert() method inserts an item at the specified index

mylist = ["apple", "banana", "cherry"]

mylist.insert(1, "orange")
mylist

['apple', 'orange', 'banana', 'cherry']

In [ ]:
# To append elements from another list to the current list, use the extend() method

mylist = ["apple", "banana", "cherry"]
addlist = ["mango", "pineapple", "papaya"]

mylist.extend(addlist)
mylist

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [ ]:
# The remove() method removes the specified item
mylist = ["apple", "banana", "cherry"]

mylist.remove("banana")
mylist

['apple', 'cherry']

In [ ]:
mylist = ["apple", "banana", "cherry"]

mylist.pop(1) # The pop() method removes the specified index
mylist

['apple', 'cherry']

In [ ]:
mylist = ["apple", "banana", "cherry"]

mylist.pop() # If you do not specify the index, the pop() method removes the last item
mylist

['apple', 'banana']

In [ ]:
mylist = ["apple", "banana", "cherry"]

del mylist[0] # The del keyword also removes the specified index
mylist

['banana', 'cherry']

In [ ]:
mylist = ["apple", "banana", "cherry"]

mylist.clear() # The clear() method empties the list. The list still remains, but it has no content
mylist

[]

In [ ]:
mylist = ["apple", "banana", "cherry"]

for element in mylist:  # You can loop through the list items by using a for loop. We will cover the loop topics later inşAllah
  print(element)

apple
banana
cherry

In [ ]:
mylist = ["apple", "banana", "cherry"]

for elementIndex in range(len(mylist)): # You can also loop through the list items by referring to their index number. Use the range() and len() functions to produce a suitable iterable (range and len will be mentioned later inşAllah).
  print(mylist[elementIndex])

apple
banana
cherry

In [ ]:
mylist = ["apple", "banana", "cherry"]

[print(x) for x in mylist] # List Comprehension offers the shortest syntax for looping through lists

apple
banana
cherry

[None, None, None]

In [ ]:
mylist = ["apple", "banana", "cherry"]

newlist = [x for x in mylist if x != "apple"] # The condition is like a filter that only accepts the items that valuate to True
newlist

['banana', 'cherry']

In [ ]:
mylist = ["banana", "apple", "cherry"]

mylist.sort() # List objects have a sort() method that will sort the list alphanumerically, ascending, by default
mylist

['apple', 'banana', 'cherry']

In [ ]:
mylist = ["banana", "apple", "cherry"]

mylist.sort(reverse = True) # To sort descending, use the keyword argument reverse = True
mylist

['cherry', 'banana', 'apple']

In [ ]:
mylist = ["banana", "apple", "cherry"]

newlist = mylist.copy() # You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2. There are ways to make a copy, one way is to use the built-in List method copy()
newlist

['banana', 'apple', 'cherry']

In [ ]:
mylist1 = ["apple", "banana", "cherry"]
mylist2 = ["mango", "pineapple", "papaya"]
newlist = mylist1 + mylist2   # There are several ways to join, or concatenate, two or more lists in Python. One of the easiest ways are by using the + operator
newlist

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [ ]:
# Tuple: Tuples are used to store multiple items in a single variable.

# A tuple is a collection which is ordered and unchangeable and allow duplicate values

# Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage

mytuple = ("apple", "banana", "cherry")
mytuple

('apple', 'banana', 'cherry')

In [ ]:
# Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

# When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

# Tuple items can be of any data type

tuple1 = ("apple", 34, True, 40.3)
tuple1

('apple', 34, True, 40.3)

In [ ]:
mytuple = ("apple", "banana", "cherry")

print(mytuple[1])

banana

In [ ]:
mytuple = ("apple", "banana", "cherry")

print(mytuple[-1]) # Negative indexing means start from the end. -1 refers to the last item, -2 refers to the second last item etc.

cherry

In [ ]:
mytuple = ("apple", "banana", "cherry", "orange")

print(mytuple[1:3]) # You can specify a range of indexes by specifying where to start and where to end the range. When specifying a range, the return value will be a new tuple with the specified items.

('banana', 'cherry')

In [ ]:
mytuple = ("apple", "banana", "cherry", "orange")

print(mytuple[:2]) # By leaving out the start value, the range will start at the first item.

('apple', 'banana')

In [ ]:
mytuple = ("apple", "banana", "cherry", "orange")

print(mytuple[1:]) # By leaving out the end value, the range will go on to the end of the list

('banana', 'cherry', 'orange')

In [ ]:
mytuple = ("apple", "banana", "cherry", "orange")

print(mytuple[-3:-1]) # Specify negative indexes if you want to start the search from the end of the tuple

('banana', 'cherry')

In [ ]:
# Once a tuple is produced, you cannot change its values. Tuples are unchangeable, or immutable as it also is called

# But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple

mytuple = ("apple", "banana", "cherry")

newtuple = list(mytuple)

newtuple[1] = "orange"

mytuple = tuple(newtuple)
mytuple

('apple', 'orange', 'cherry')

In [ ]:
# Since tuples are immutable, they do not have a build-in append() method, but there are other ways to add items to a tuple

mytuple = ("apple", "banana", "cherry")
newtuple = list(mytuple)
newtuple.append("orange")
mytuple = tuple(newtuple)
mytuple

('apple', 'banana', 'cherry', 'orange')

In [ ]:
# Add tuple to a tuple. You are allowed to add tuples to tuples, so if you want to add one item, (or many), produce a new tuple with the item(s), and add it to the existing tuple

mytuple = ("apple", "banana", "cherry")
newtuple = ("orange",)
mytuple += newtuple
mytuple

('apple', 'banana', 'cherry', 'orange')

In [ ]:
# Tuples are unchangeable, so you cannot remove items from it, but you can use the same workaround as we used for changing and adding tuple items

mytuple = ("apple", "banana", "cherry")
newtuple = list(mytuple)
newtuple.remove("cherry")
mytuple = tuple(newtuple)
mytuple

('apple', 'banana')

In [ ]:
# When we produce a tuple, we normally assign values to it. This is called "packing" a tuple

# In Python, we are also allowed to extract the values back into variables. This is called "unpacking"

mytuple = ("apple", "banana", "cherry")

(green, yellow, red) = mytuple

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [ ]:
# You can loop through the tuple items by using a for loop

mytuple = ("apple", "banana", "cherry")

for elementIndex in mytuple:
  print(elementIndex)

apple
banana
cherry

In [1]:
# You can also loop through the tuple items by referring to their index number. Use the range() and len() functions to produce a suitable iterable

mytuple = ("apple", "banana", "cherry")

for elementIndex in range(len(mytuple)):
  print(mytuple[elementIndex])

apple
banana
cherry

In [2]:
mytuple1 = ("apple", "banana", "cherry")
mytuple2 = ("mango", "pineapple", "papaya")
newtuple = mytuple1 + mytuple2 # To join two or more tuples you can use the + operator
newtuple

('apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya')

In [3]:
mytuple = ("apple", "banana", "cherry")
newtuple = mytuple * 2 # If you want to multiply the content of a tuple a given number of times, you can use the * operator
newtuple

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [5]:
# Python has two built-in methods that you can use on tuples

# count() --> Returns the number of times a specified value occurs in a tuple

mytuple = (1,2,344,3,2,1,2,2,21)
mytuple.count(2)

4

In [6]:
# index() --> Searches the tuple for a specified value and returns the position of where it was found

mytuple = (2,1,21,2,5,8,895)
mytuple.index(895)

6

In [7]:
# Dictionaries are used to store data values in key:value pairs

# A dictionary is a collection which is ordered, changeable and do not allow duplicates

# As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered

mydict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}

mydict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [8]:
# Dictionary items are presented in key:value pairs, and can be referred to by using the key name

mydict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}

mydict["brand"]

'Ford'

In [ ]:
# The values in dictionary items can be of any data type

mydict = {
    "brand": "Ford",
    "electric": False,
    "year": 1964,
    "colors": ["red", "white", "blue"]
}

In [9]:
# The keys() method will return a list of all the keys in the dictionary

mydict = {"brand":"Ford", "model": "Mustang", "year": 1964}
x = mydict.keys()
x

dict_keys(['brand', 'model', 'year'])

In [10]:
# You can change the value of a specific item by referring to its key name

mydict = {"brand": "Ford", "model": "Mustang", "year": 1964}
mydict["year"] = 2018
mydict

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [11]:
mydict = {"brand": "Ford", "model": "Mustang", "year": 1964}
mydict["color"] = "red"
mydict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [12]:
# There are several methods to remove items from a dictionary

mydict = {"brand": "Ford", "model": "Mustang", "year": 1964}
mydict.pop("model")
mydict

{'brand': 'Ford', 'year': 1964}

In [13]:
# The del keyword removes the item with the specified key name

mydict = {"brand": "Ford", "model": "Mustang", "year": 1964}
del mydict["model"]
mydict

{'brand': 'Ford', 'year': 1964}

In [14]:
# You can loop through a dictionary by using a for loop. When looping through a dictionary, the return value are the keys of the dictionary, but there are methods to return the values as well

mydict = {"brand": "Ford", "model": "Mustang", "year": 1964}

for dict_keys in mydict:
  print(dict_keys)

brand
model
year

In [15]:
# You can use the keys() method to return the keys of a dictionary

mydict = {"brand": "Ford", "model": "Mustang", "year": 1964}

for dict_keys in mydict.keys():
  print(dict_keys)

brand
model
year

In [16]:
# Print all values in the dictionary, one by one

mydict = {"brand": "Ford", "model": "Mustang", "year": 1964}

for dict_keys in mydict:
  print(mydict[dict_keys])

Ford
Mustang
1964

In [17]:
# You can also use the values() method to return values of a dictionary

mydict = {"brand": "Ford", "model": "Mustang", "year": 1964}

for dict_values in mydict.values():
  print(dict_values)

Ford
Mustang
1964

In [18]:
# Loop through both keys and values, by using the items() method

mydict = {"brand": "Ford", "model": "Mustang", "year": 1964}

for key, value in mydict.items():
  print(key, value)

brand Ford
model Mustang
year 1964

In [22]:
# You cannot copy a dictionary simply by typing dict2 = dict1, because: dict2 will only be a reference to dict1, and changes made in dict1 will automatically also be made in dict2

# There are ways to make a copy, one way is to use the built-in Dictionary method copy()

mydict = {"brand": "Ford", "model": "Mustang", "year": 1964}
newdict = mydict.copy()
newdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [23]:
# Python has a set of built-in methods that you can use on dictionaries

# clear() --> Removes all the elements from the dictionary
# fromkeys() --> Returns a dictionary with the specified keys and value
# get() --> Returns the value of the specified key
# popitem() --> Removes the last inserted key-value pair
# setdefault() --> Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
# update() --> Updates the dictionary with the specified key-value pairs

In [24]:
# Python supports the usual logical conditions from mathematics

# Python relies on indentation (whitespace at the beginning of a line) to define scope in the code. Other programming languages often use curly-brackets for this purpose

a = 10
b = 20

if b > a:
  print("b is greater than a")

b is greater than a

In [26]:
# The else keyword catches anything which isn't caught by the preceding conditions

a = 10
b = 20

if b > a:
  print("b is greater than a")
else:
  print("a is grater than b")

b is greater than a

In [27]:
# The elif keyword is Python's way of saying "if the previous conditions were not true, then try this condition"

a = 10
b = 10

if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [28]:
# If you have only one statement to execute, you can put it on the same line as the if statement

a = 10
b = 5

if a > b: print("a is greater than b")

a is greater than b

In [29]:
# If you have only one statement to execute, one for if, and one for else, you can put it all on the same line

a = 10
b = 20
print("a") if a > b else print("b")

b

In [30]:
# With the while loop we can execute a set of statements as long as a condition is true

i = 1

while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [31]:
# With the break statement we can stop the loop even if the while condition is true

i = 1

while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [32]:
# With the continue statement we can stop the current iteration, and continue with the next

i = 0

while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [33]:
# With the else statement we can run a block of code once when the condition no longer is true

i = 1

while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [34]:
"""
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).
This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.
With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.
"""

fruits = ["apple", "banana", "cherry"]

for item in fruits:
  print(item)

apple
banana
cherry

In [35]:
# With the break statement we can stop the loop before it has looped through all the items

fruits = ["apple", "banana", "cherry"]

for item in fruits:
  print(item)
  if item == "banana":
    break

apple
banana

In [36]:
# With the continue statement we can stop the current iteration of the loop, and continue with the next

fruits = ["apple", "banana", "cherry"]

for item in fruits:
  if item == "banana":
    continue
  print(item)

apple
cherry

In [37]:
# To loop through a set of code a specified number of times, we can use the range() function. The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number
# Attention! the last number is not included

for number in range(10):
  print(number)

0
1
2
3
4
5
6
7
8
9

In [38]:
for number in range(5, 10):  # starting point and ending point
  print(number)

5
6
7
8
9

In [39]:
for number in range(1, 10, 3):  # startin point, ending point, incrementing amount
  print(number)

1
4
7

In [41]:
# A function is a block of code which only runs when it is called. You can pass data, known as parameters, into a function. A function can return data as a result

# In Python a function is defined using the def keyword

def my_function():
  print("Hello from a function")

my_function() # We have to call the function if we want to use it

Hello from a function

In [42]:
# Information can be passed into functions as arguments. Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma

def my_function(name):
  print("Hello, " + name)

my_function("Ali")

Hello, Ali

In [48]:
# If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition. This way the function will receive a TUPLE of arguments, and can access the items accordingly

def my_function(*names):
  print("Their names are " + names[0], names[1], names[2], names[3])

my_function("Ahmet", "John", "Hakan", "Elif")

Their names are Ahmet John Hakan Elif

In [49]:
# If you do not know how many keyword (DICTIONARY) arguments that will be passed into your function, add two asterisk: ** before the parameter name in the function definition

def my_function(**person):
  print("Last name is "+ person["lastname"])

my_function(firstname = "X", lastname = "Y")

Last name is Y

In [51]:
# The following example shows how to use a default parameter value. If we call the function without argument, it uses the default value

def my_function(country = "Norway"):
  print("I am from " + country)

my_function()
my_function("Brazil")

I am from Norway
I am from Brazil

In [52]:
# You can send any data types of argument to a function (string, number, list, dictionary etc.), and it will be treated as the same data type inside the function

def my_function(food):
  for item in food:
    print(item)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [54]:
# To let a function return a value, use the return statement

def my_function(x):
  return 5 * x

print(my_function(4))

20

In [55]:
# Function definitions cannot be empty, but if you for some reason have a function definition with no content,put in the pass statement to avoid getting an error

def my_function():
  pass

In [ ]:
"""
Python also accepts function recursion, which means a defined function can call itself.
Recursion is a common mathematical and programming concept. It means that a function calls itself. This has the benefit of meaning that you can loop through data to reach a result
"""

In [56]:
# A lambda function is a small anonymous function. A lambda function can take any number of arguments, but can only have one expression.

x = lambda a : a + 10

print(x(5))

15

In [58]:
x = lambda a, b : a * b

print(x(5, 6))

30

In [59]:
# Python is an object oriented programming language. Almost everything in Python is an object, with its properties and methods. A Class is like an object constructor, or a "blueprint" for producing objects

class MyClass:
  x = 5

# Now we can use the class named MyClass to produce objects

obj1 = MyClass()

print(p1.x)

5

In [1]:
"""
The examples above are classes and objects in their simplest form, and are not really useful in real life
applications. To understand the meaning of classes we have to understand the built-in __init__() function.
All classes have a function called __init__(), which is always executed when the class is being initiated.
Use the __init__() function to assign values to object properties, or other operations that are necessary to
do when the object is being created
"""

class Person:

  """
  There are 2 parameters here.
  The parameters it takes are name and age. An object produced here should be produced to take 2 parameters, and its name and age should be assigned to the name (self.name) and age (self.age) variables of any object.
  For example, let's say the name of the object is A. A's name (A.name) is equal to the name parameter.
  The name in self.name does not have to be the same name as the name that comes as a parameter.
  I produced an object named p1 from the Person class. And this has two parameters. A value of X was passed to the name parameter.A value of 36 was passed to the age parameter.
  I assign this X to the name of the p1 object and 36 to the age of the p1 object. If I change the name in self.name to B, I should print it as p1.B
  The name in self.name and p1.name are the same, but the name on the right side of the self.name = name expression (coming as a parameter) is not the same as the name in p1.name.
  """

  def __init__(self, name, age):  # Self is wildcard word that gives the name of any object to be produced from this class. Since we do not know the names of the objects, it replaces them. You can call it something else but most of the python code on the internet you will see it as a self
    self.name = name
    self.age = age



p1 = Person("X", 36)

print(p1.name)
print(p1.age)

X
36

In [5]:
# The __str__() function controls what should be returned when the class object is represented as a string. If the __str__() function is not set, the string representation of the object is returned

class Person:

  def __init__(self, name, age):
    self.name  = name
    self.age = age

  def __str__(self):
    return f"{self.name} {self.age}"

p1 = Person("John", 36)

print(p1)

John 36

In [6]:
# Objects can also contain methods. Methods in objects are functions that belong to the object

class Person:

  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

# You can modify properties on objects like this

p1.age = 40

# You can delete properties on objects by using the del keyword

del p1.age

Hello my name is John

In [8]:
"""
Inheritance allows us to define a class that inherits all the methods and properties from another class
Parent class is the class being inherited from, also called base class
Child class is the class that inherits from another class, also called derived class
"""

# Any class can be a parent class, so the syntax is the same as producing any other class

class Person:

  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

x = Person("X", "Y")
x.printname()

class Student(Person):
  pass

x = Student("T", "Z")
x.printname()

X Y
T Z

In [9]:
# A variable produced inside a function belongs to the local scope of that function, and can only be used inside that function

def myfunc():
  x = 300
  print(x)

myfunc()

300

In [10]:
# As explained in the example above, the variable x is not available outside the function, but it is available for any function inside the function

def myfunc():
  x = 300
  def myinnerfunc():
    print(x)
  myinnerfunc()

myfunc()

300

In [12]:
"""
A variable created in the main body of the Python code is a global variable and belongs to the global
scope. Global variables are available from within any scope, global and local
"""

x = 300

def myfunc():
  print(x)

myfunc()

print(x)

300
300

In [13]:
"""
If you operate with the same variable name inside and outside of a function, Python will treat them as two
separate variables, one available in the global scope (outside the function) and one available in the local
scope (inside the function)
"""

x = 300

def myfunc():
  x = 200
  print(x)

myfunc()

print(x)

200
300